body{background-color:#b27330;
#wraper_container{
    display: flex;
    margin: 0;
    box-sizing: border-box;
    #left_side{
        flex-shrink: 0;
        width: 30%;
    }
    #right_side{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        flex-shrink: 0;
        width: 70%;
        .backButton{
            margin-top: 20px;
            width: 40%;
            height: 50px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: aliceblue;
            background: rgb(199, 147, 115);
            border: none;
            border-radius: 10px;
            align-self: flex-end;
            &:hover{
                cursor: pointer;
                box-shadow: inset wheat 0px 0px 15px 10px;
                transition: box-shadow .35s linear;
            }
        }
        .post{
            width: 40%;
            margin-top: 50px;
            .post_img{
                width: 100%;
                height: 335px;
                margin-bottom: 25px;
            }
            h2{
                margin-bottom: 25px;
            }
            .truncated-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              &::after {
                content: "...men coniecto cenaculum.";
                display: inline;
                color: black;
              }
        }
    }
    .messageWraper{
        display: flex;
        flex-flow: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -15% -60%;
        .backButton{
            margin-top: 20px;
            width: 40%;
            height: 50px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: aliceblue;
            background: rgb(199, 147, 115);
            border: none;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                box-shadow: inset wheat 0px 0px 15px 10px;
                transition: box-shadow .35s linear;
            }
        }
    }
}}
}