#wraper_container{
    display: flex;
    margin: 0;
    box-sizing: border-box;
    #left_side{
        flex-shrink: 0;
        width: 30%;
        height: 800px;
        background: rgb(60, 60, 150);
    }
    #right_side{
        flex-shrink: 0;
        height: 800px;
        width: 70%;
        background: rgb(60, 150, 72);
    }
}